<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.E_Transport" >
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".Registration"
            android:exported="true" >
        </activity>
        <activity
            android:name=".Activity.Main.SelectLogin"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Admin.UserList"
            android:exported="true" >
        </activity>
        <activity
            android:name=".Activity.Admin.AdminPanel"
            android:exported="true" >
        </activity>
        <activity
            android:name=".Activity.Admin.AdminLogin"
            android:exported="true" >
        </activity>
        <activity
            android:name=".Child.Support"
            android:exported="false" />
        <activity
            android:name=".Child.UseManual"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAOTk4VsejLTx573xIAvP5-QfGU2BWblfU" />

        <activity
            android:name=".Activity.Main.SplashScreen"
            android:exported="true" />
        <activity
            android:name=".Activity.Main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Main.ActivityDetail"
            android:exported="true" />
        <activity
            android:name=".Activity.Main.MainActivity2"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Main.home_page2"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Child.ordereditem"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>